<!DOCTYPE html>
<html lang="en">
<head>
  <title>SDN Firewall</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            background-color: #EEEEEE;
        }
        h1 {
            font-size: 40px;
            text-align: center;
            margin-top: 50;
            margin-bottom: 50;
        }
</style>
</head>
<body>

<div class="container">
  <h1>SDN FIREWALL</h1>

  <ul class="nav nav-tabs" id="menu">
    <li class="active"><a data-toggle="tab" href="#menu2">Authentication</a></li>
    <li ><a data-toggle="tab" href="#acladd">ACL Add</a></li>
    <li ><a data-toggle="tab" id=rule_refresh href="#aclrule">ACL Rule</a></li>
    <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
  </ul>

  <div class="tab-content">

    <div id="menu2" class="tab-pane fade in active">
      <h3>Authentication</h3>
      <!--<p>Only after authentication, you can set the acl rule. The username and password shoul be same with your OpenDaylight</p> -->
      <p>. </p>
      <p> </p>
      <p> </p>
  <form id="auth" class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="controller_ip">Controller IP:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="controller_ip" placeholder="OpenDaylight IP">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="controller_port">Controller Port:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="controller_port" placeholder="OpenDaylight REST API port">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="username">Username:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="username" placeholder="OpenDaylight username">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="password">Password:</label>
      <div class="col-sm-6">
        <input type="password" class="form-control" id="password" placeholder="OpenDaylight password">
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-5 col-sm-10">
        <button id=authentication type="submit" class="btn btn-success">Authentication</button>
      </div>
    </div>
  </form>
    </div>

    <div id="acladd" class="tab-pane fade">
  <h2>Add ACL Rule</h2>
  <form id="addacl" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-2" for="nodeid">Node ID:</label>
      <div class="col-sm-6">
        <select class="form-control" id="nodeid" name="nodeid">
        </select>
    </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="sourcemac">Source MAC:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="sourcemac" placeholder="source mac address">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="destinationmac">Destination MAC:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="destinationmac" placeholder="destination mac address">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="sourceip">Source IP / Mask:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="sourceip" placeholder="source ip / mask">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="destinationip">Destination IP / Mask:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="destinationip" placeholder="destination ip / mask">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="vlan">VLAN:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="vlan" placeholder="vlan number">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="port">Protocol:</label>
      <div class="col-sm-6">
        <select class="form-control" id="port">
            <option></option>
            <option value="1">ICMP</option>
            <option value="6">TCP</option>
            <option value="17">UDP</option>
            <option value="88">IGMP</option>
        </select>
      </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="action">Action:</label>
      <div class="col-sm-6">
        <select class="form-control" id="action">
            <option value="0">DENY</option>
            <option value="1">PERMIT</option>
        </select>
    </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-5 col-sm-10">
        <button type="submit" class="btn btn-success" id=addaclrule>Submit</button>
      </div>
    </div>
  </form>
    </div>
    <div id="aclrule" class="tab-pane fade">
        <h2>ACL Rules   </h2> 
  <table class="table">
    <thead>
      <tr>
        <th>Rule</th>
        <th>Action</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="aclrules" name="aclrules">

    </tbody>
  </table>

    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>

    <script>

function show_acl_rules(rules)
{
    alert(rules);
    var trs = "";
    var x = 0;
    colors = ['info', 'warning', 'success', 'active'];
    actions = ['DENY', 'PERMIT'];
    for(var i = 0; i < rules.length; i++) {
        action = parseInt(rules[i]['action'])
        x = Math.floor((Math.random() * 10)/4)
        trs += "<tr class='" + colors[x]+ "'><td>" + rules[i]['rule'] + "</td><td>" + actions[action] + "</td><th><button type='button' class='btn btn-danger' value='" + rules[i]['id'] + "'  onclick='del_acl_rule(this.value)' >Delete</button></th></tr>";
    }
    $( 'tbody[name="aclrules"]' ).append( trs);
}

        $(document).ready(function () {

  $('#rule_refresh').click(function(event)  {
                            
                var data = {};
                var dataToSend = JSON.stringify(data);

                $.ajax(
                        {
                            url: '/getaclrule/',
                            type: 'GET',
                            data: dataToSend,

                            success: function (jsonResponse){
                                rules = $.parseJSON(jsonResponse);
                                show_acl_rules(rules);
                            },

                            error: function() {
                                alert("Get ACL rule fail"); 
                            }
                        });
                event.preventDefault();

});


            $('#authentication').click(function (event) {

                var controller_ip = $("#controller_ip").val();
                var controller_port = $("#controller_port").val();
                var username = $("#username").val();
                var password = $("#password").val();

                var data =
                {
                        post_type: 'authentication',
                        controller_ip : controller_ip,
                        controller_port: controller_port,
                        authentication: "Basic "+btoa(username+":"+password)
                };

                var dataToSend = JSON.stringify(data);

                $.ajax(
                        {
                            url: '/setaclrule/',
                            type: 'POST',
                            data: dataToSend,

                            success: function (jsonResponse) {

                                nodes = $.parseJSON(jsonResponse);
                                var opts = "";
                                for(var i = 0; i < nodes.length; i++) {
                                    opts += "<option value='" + nodes[i] + "'>" + nodes[i] + "</option>";
                                }
                                $( 'select[name="nodeid"]' ).append( opts);

                                alert('Authentication Success');
                            },
                            error: function () {
                                alert("Authentication Fail");

                            }
                        });

                event.preventDefault();
            });
            
            $('#addaclrule').click(function (event) {

                var nodeid = $("#nodeid").val();
                var sourcemac = $("#sourcemac").val();
                var destinationmac = $("#destinationmac").val();
                var sourceip= $("#sourceip").val();
                var destinationip = $("#destinationip").val();
                var vlan = $("#vlan").val();
                var port = $("#port").val();
                var action = $("#action").val();

                var data =
                {
                        post_type: 'aclrule',
                        nodeid : nodeid,
                        source_mac : sourcemac,
                        dest_mac : destinationmac,
                        source_ip : sourceip,
                        dest_ip : destinationip,
                        vlan : vlan,
                        protocol: port,
                        action : action
                };

                var dataToSend = JSON.stringify(data);

                $.ajax(
                        {
                            url: '/setaclrule/',
                            type: 'POST',
                            data: dataToSend,

                            success: function (jsonResponse) {
                                alert("Set ACL Rule Success");
                            },
                            error: function () {
                                alert("Set ACL Rule Fail");

                            }
                        });

                event.preventDefault();
            });
        });


function del_acl_rule(acl_id) 
{
                var data =
                {
                        post_type: 'deleteacl',
                        id : acl_id
                };

                var dataToSend = JSON.stringify(data);

                $.ajax(
                        {
                            url: '/setaclrule/',
                            type: 'POST',
                            data: dataToSend,

                            success: function (jsonResponse) {
                                rules = $.parseJSON(jsonResponse);
                                show_acl_rules(rules);
                            },
                            error: function () {
                                alert("Del ACL Rule Fail");

                            }
                        });

                event.preventDefault();
}

    </script>

</body>
</html>
